<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<th:block th:fragment="headerFragment">-->
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
<!--    &lt;!&ndash; Favicon&ndash;&gt;-->
<!--    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>-->
<!--    &lt;!&ndash; Bootstrap icons&ndash;&gt;-->
<!--    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet"/>-->

<!--    &lt;!&ndash;    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">&ndash;&gt;-->

<!--    &lt;!&ndash; Core theme CSS (includes Bootstrap)&ndash;&gt;-->
<!--    <link th:href="@{/css/styles.css}" rel="stylesheet"/>-->

<!--    <title>그림보세영</title>-->
<!--</head>-->
<!--</th:block>-->
<!--</html>-->